@media (min-width: 320px)  and (max-width:480px) {
    .button {
        display: none;
    }
    .bg-content {
        top: 10%;
    }
    
    
    nav {
        display: none;
    }
    .header-container {
        flex-direction: column;
    }
    ul {
        flex-direction: column;
    }
    nav.activeNav {
        display: block;
    }
    .burger {
        display: block;
        
    }
    .discovery {
        flex-direction: column;
        
    }
    .discovery-img {
        width: 100%;
    }
    .history {
        flex-direction: column;
    }
    .history-image {
        width: 100%;
    }
    .coma {
        width: 100%;
        
    }
    .coma-box {
        display: none

        
    }
    .contact {
        margin-top: -350px;
    }
    .input-element {
        width: 100%;
    }
}