/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media (min-width: 320px)  and (max-width:480px) {
    .button {
        display: none;
    }
    .bg-content {
        top: 10%;
    }
    
    
    nav {
        display: none;
    }
    .header-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    nav.activeNav {
        display: block;
    }
    .burger {
        display: block;
        
    }
    .discovery {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        
    }
    .discovery-img {
        width: 100%;
    }
    .history {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .history-image {
        width: 100%;
    }
    .coma {
        width: 100%;
        
    }
    .coma-box {
        display: none

        
    }
    .contact {
        
        -webkit-box-orient: vertical;
        
        -webkit-box-direction: normal;
        
            -ms-flex-direction: column;
        
                flex-direction: column;
    }
    .input-element {
        width: 100%;
    }
    .textarea {
        max-width: 410px;
    }
    .btn {
        max-width: 410px;
    }
}
@media (min-width: 481px)  and (max-width:768px) {
    nav {
        display: none;
    }
    .header-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: first baseline baseline;
            -ms-flex-align: first baseline baseline;
                align-items: first baseline baseline;
    }
    ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    nav.activeNav {
        display: block;
    }
    .burger {
        display: block;
        
    }
    .discovery {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        
    }
    .discovery-img {
        width: 100%;
    }
    .history {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .history-image {
        width: 100%;
    }
    
    .input-element {
        width: 100%;
    }
}
@media (min-width: 769px)  and (max-width: 1024px) {
    .a-item {
        font-size: 15px;
        
    
    }
    .ul-item {
        gap: 6px;
    }
    .discovery {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        
        -webkit-box-align: center;
        
            -ms-flex-align: center;
        
                align-items: center;
        
    }
    .discovery-content {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .discovery-img {
        width: 100%;
    }
    .history {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .history-image {
        width: 100%;
    }
    .history-content {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    .input-element {
        width: 100%;
    }
    .textarea {
        max-width: 410px;
    }
    .btn {
        max-width: 410px;
    }
}