body {
    background-color: #292d39;;
}
.header {
    width: 100%;
    height: 100px;
    background-color: #292d39;;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.ul-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    gap: 18px;
    
}
.a-item {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    
}
 
.image {
    width: 100%;
  
}
.main-photo {
    position: relative;
}
.button {
    position: absolute;
    top: 80%;
    left: 40%;
    
}
.button2 {
    max-width: 100px;
    height: 100px;
    
}

.bg-image {
    background-image: url('../images/brandhistorystory2n-a9eecfa8.png');
    width: 100%;
    height: 1100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    
}
.section2 {
    margin: 0;
    
}
.bg-content {
    position: absolute;
    max-width: 300px;
    height: 500px;
    top: 20%;
    left: 10%;
}
.bg-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: #fff;
    text-align: center;
    
}
.bg-paragraph {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.discovery {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 40px; 
}
.discovery-img {
    max-width: 700px;
    height: 500px;
    border-radius: 15px;
}
.discovery-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: #fff;
}

.discovery-paragraph {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: left;
    color: #fff;
    line-height: 30px;
}
.discovery-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    
}
.history {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 40px;
}
.history-image {
    max-width: 700px;
    height: 500px;
    border-radius: 15px;
}
.history-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
}
.history-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: #fff;
}
.history-paragraph {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-align: left;
    color: #fff;
    line-height: 30px;
}
.catalogue {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

}
.catalogue-box {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}
.glass-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: #fff;
    text-align: center;
    

}
.glass-title4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #fff; 
}
.glass-paragraph {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #fff; 
    text-align: justify;
}
.coma {
    background-image: url('../images/davidComa.jpg');
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
   
    
}
.coma-box {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    margin-left: 1%;
    gap: 10px;
    
}
.coma-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    
}
.fa-solid {
   color: #fff;
   font-size: 30px;
   
}
.coma-h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #fff; 
     
}
.coma-h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #fff;
    
}